<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image_response_style.css') }}">
    <title>response</title>
</head>
<body>
    <h1>Model Response</h1>
    <p>The person on the picture is more likely a <strong>{{gender}}</strong></p>
    <img src="{{image_path}}" alt="image" >
</body>
</html>